<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Music Player With Lyrics</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-test.css') }}">

  </head>

  <body>
    <ul class="g-snows" id="jsi-snows">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div id="overlay"></div>

    <div class="content">
      <div class="lyrics"></div>
    </div>

    <div class="player">
      <div class="left"></div>
      <div class="right">
        <div class="top">
          <p class="songs">
            Centimeter
            <br />The Peggies (Kanojo - Okarishimasu OST SoundTrack Opening)
          </p>
        </div>
        <div class="bottom">
          <video
            controlslist="nodownload"
            controls=""
            _autoplay=""
            name="media"
            oncontextmenu="return false;"
          >
            <source src="{{ url_for('static', filename='music/princesse-meteo.mp3') }}" type="audio/mpeg" />
          </video>
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/script-test.js') }}"></script>

  </body>
</html>